{**
 * Template for Eciovni plugin for Nette Framework
 *
 * @copyright  Copyright (c) 2009 Ondřej Brejla
 * @license    New BSD License
 * @link       http://github.com/OndrejBrejla/Nette-InvoiceControl
 *

 *}
asdas